/* General Styles */
body {
    font-family: 'Manrope', sans-serif;
    background: #fff;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: background-color 0.5s ease, color 0.5s ease;
    cursor: url('images-assets/cursor.png'), auto;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #000;
    color: #fff;
}

/* Positioning the Light/Dark Mode Button */
#mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 100;
}

#mode-toggle img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

#mode-toggle img:hover {
    transform: scale(1.1);
}
